<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Brewery Show Page</title>
</head>
<body>
    <h1>North Shore Brewery Show Page</h1>
    <div class="container">
    <li>
        <img src="<%= beer.img %>" height="200"><br>

        <strong>Name:</strong> <%= beer.name; %><br>

        <strong>Location:</strong> <%= beer.location; %><br>
        
        <strong>Favorite Beers:</strong> <%= beer.favorites; %><br>

        <strong>Untappd Average Rating:</strong> <%= beer.rating; %><br>

        <div class="admin-actions">
            <a href="/beer_explorer/<%=beer.id %>/edit"><button type="button" name="button" class="edit-button">Edit</button></a>
            <form action="/beer_explorer/<%=beer.id%>?_method=DELETE" method="POST">
            <button class="delete-button">DELETE</button>
            </form>
        </div>

        <nav>
            <a href="/beer_explorer">Back to Breweries Index</a>
        </nav>
    </li>
</body>
</html>